/*Fonts ==========================
==================================*/
@mixin name-font {
    font-size: $name-text;
    font-weight: 700;
    color: $title-color;
  }
  
  @mixin primary-font {
    font-size: $primary-text;
    font-weight: 400;
    color: $primary-color;
  }
  
  @mixin title-font {
    font-size: $title-text;
    font-weight: 700;
    color: $title-color;
  }
  
  @mixin amount-font {
    font-size: $amount-text;
    font-weight: 700;
    color: $main-gradient-color;
  }

/*Media queries ==================
 ==================================*/
  
  @mixin little-screen {
    @media (max-width: 768px) { 
      @content; 
    }
  }
  
  @mixin middle-screen {
    @media (max-width: 1000px) { 
        @content; 
    }
  }

  @mixin big-screen {
    @media (max-width: 1200px) { 
      @content; 
    }
  }

    /*Flex  ==========================
  ==================================*/

@mixin flexible($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
  }

  /*Triangles  =======================
  ==================================*/

  @mixin triangle-up {
    content: '';
    position: absolute;
    left: -7px;
    bottom: 2px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 5px solid rgb(168, 137, 233);
  }
  
  @mixin triangle-down {
    content: '';
    position: absolute;
    left: -7px;
    bottom: 3px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid rgb(253, 86, 112);
  }

