/*color ================
=============================*/

$main-gradient-color: rgb(224,66,91);
$secondary-gradient-color: rgb(219,92,70);
$primary-color: rgb(191, 191, 191);
$title-color: rgb(118, 118, 118);
$border-color: rgb(241, 241, 241);

/*Fonts ==================
=============================*/

$primary-text: calc(11px + 0.1vw);
$title-text: calc(12px + 0.15vw);
$name-text: calc(11px + 0.15vw);
$position-text: 10px;
$amount-text:calc(16px + 0.4vw);