.shadow {
    margin: 10px;
    box-shadow: 0 0 10px 5px rgb(207, 206, 206);
}

.title {
    @include title-font;
    padding: 30px 0 0 30px;

    @include little-screen {
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
    }
}

.title--center {
    padding-left: 0;
    text-align: center;
}

.main {
    max-width: 1030px;
    width: 100%;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    box-sizing: border-box;

    @include little-screen {
        @include flexible(column, flex-start, center);
        width: 100%;
    }

    &__top-container {
        display: flex;

        @include little-screen {
            @include flexible(column, flex-start, center);
            width: 100%;
        }
    }

    /*Main__monthly-progress ==========
    ==================================*/

    &__monthly-progress {
        @include flexible(row, space-between, flex-start);
        flex-grow: 10;
        flex-wrap: wrap;

        width: 400px;
        height: 266px;
        background-color: rgb(255, 255, 255);
        overflow-x: auto;

        @include little-screen {
            width: 90%;
        }
    }

    &__mothly-buttons {
        padding-top: 30px;

        @include little-screen {
            display: none;
        }
    }

    &__mothly-button {
        @include primary-font;
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        margin: 0 8px;
        border: none;
        border-radius: 10px;
        background: transparent;
    }

    &__mothly-button:last-child {
        margin-right: 60px;
    }

    &__mothly-button:hover {
        color: rgb(255, 255, 255);
        background: linear-gradient(to right,$main-gradient-color, $secondary-gradient-color);
    }

    &__monthly-img {
        margin-left: 30px;
    }

    /*Main__revenue ==================
    ==================================*/

    &__revenue {
        @include flexible(column, space-between, center);
        width: 264px;
        height: 266px;
        background: url(../img/main/revenue-per-our.png) rgb(255, 255, 255) no-repeat center;    
    
        @include little-screen {
            width: 90%;
        }
    }

    &__revenue-amount {
        padding-bottom: 30px;
    }

    /*Main__bottom-container ==========
    ==================================*/

    &__bottom-container {
        display: flex;

        @include middle-screen {
            @include flexible(column, flex-start, center);
            width: 100%;
        }

        @include little-screen {
            @include flexible(column, flex-start, center);
            width: 100%;
        }
    }

    /*Main__feedback =================
    ==================================*/

    &__feedback {
        max-width: 467px;
        width: 100%;
        height: 508px;
        background-color: rgb(255, 255, 255);
        overflow-y: scroll;
        overflow-x: hidden;

        @include middle-screen {
            max-width: 1000px;
            width: 90%;
        }
    }

    &__comment-container {
        display: flex;
        margin-top: 40px;
        padding: 0 30px;

        @include little-screen {
            flex-direction: column;
            align-items: center;
        }
    }

    &__user-photo {
        width: 43px;
        height: 43px;
    }

    &__user-time {
        @include primary-font;
        font-size: 8px;
    }

    &__comment-user {
        margin-right: 20px;

        @include little-screen {
            margin: 0 0 10px 0;
        }
    }

    &__comment {
        display: block;
        width: 316px;
        padding: 20px;
        margin-bottom: 20px;

        @include primary-font;
        color: rgb(119, 119, 119);
        border: 1px solid $border-color;
        background-color: rgb(252, 252, 252);
        box-sizing: border-box;

        @include middle-screen {
            width: 70%;
        }

        @include little-screen {
            width: 80%;
        }
    }

    &__comment-name {
        @include name-font;
    }

    &__comment--primary {
        width: 345px;

        @include middle-screen {
            width: 85%;
        }
    }

    &__more-comments {
        position: relative;
        left: 25px;
    }

    &__more-comments::before {
        content: '';
        position: absolute;
        top: 0;
        left: -13px;
        width: 4px;
        height: 187px;
        background-color: $border-color;
    }

    /*Main__task-menu =================
    ==================================*/

    &__task-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /*Main__tasks ====================
    ==================================*/

    &__tasks {
        width: 501px;
        height: 245px;
        background-color: rgb(255, 255, 255);
        overflow-y: auto;

        @include middle-screen {
            max-width: 1000px;
            width: 90%;
            margin: 10px auto;
        }
    }

    &__task-list {
        margin-top: 20px;
    }

    &__task-item {
        @include flexible(row, space-between, center);
        padding: 10px 30px;
        border: 1px solid $border-color;

        @include little-screen {
            justify-content: space-around;
            flex-wrap: wrap;
            border-right: none;
            width: 75%;
        }
    }

    &__task {
        @include name-font;
        color: $main-gradient-color;
    }

    &__task-description {
        @include primary-font;

        @include little-screen {
            order: 2;
            margin-top: 10px;
        }
    }

    &__task-time {
        position: relative;
        font-size: $primary-text;
        font-weight: 700;
        color: rgb(156, 156, 156);
    }

    &__task-time::before {
        content: '';
        position: absolute;
        left: -10px;
        top: 0;
        background: url(../img/main/clock.png) no-repeat;
    }

    /*Main__progress-shipments ========
    ==================================*/

    &__progress-shipments {
        display: flex;

        @include little-screen {
            flex-direction: column;
            align-items: center;
        }
    }

    /*Main__progress =================
    ==================================*/

    &__progress {
        @include flexible(column,space-between,center);
        width: 241px;
        height: 245px;
        background: url(../img/main/progress.png) rgb(255, 255, 255) no-repeat center;
        
        @include little-screen {
            max-width: 768px;
            width: 90%;
        }
    }

    &__progress-price {
        @include amount-font;
        color: rgb(133, 73, 181);
    }

    &__progress-amount {
        padding-bottom: 30px;
        text-align: center;
    }

    /*Main__shipments =================
    ==================================*/

    &__shipments {
        @include flexible(column, space-between, center);
        width: 241px;
        height: 245px;
        background: url(../img/main/shipment.png) rgb(255, 255, 255) no-repeat center;
        
        @include little-screen {
            max-width: 768px;
            width: 90%;
        }
    }

    &__shipments-stats  {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    &__shipments-amount {
        @include amount-font;
    }

}

/*Custom checkbox =================
==================================*/

.custom-checkbox {
    position: relative;
}
  
.custom-checkbox label {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 226);;
    border-radius: 50%;
    cursor: pointer;
}

.custom-checkbox label:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    width: 8px;
    height: 4px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.custom-checkbox input[type="checkbox"] {
    visibility: hidden;
}

.custom-checkbox input[type="checkbox"]:checked + label {
    background-color: $main-gradient-color;
    border-color: $main-gradient-color;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
